input {
  position: absolute;
  opacity: 0;
  &:checked+.label{
    color: white;
    text-shadow: 2px 2px 1px #b69a9a;;
  }
}
.icon-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(0,0,0,0.8);
  font-size: 3rem;
  font-family: 'Vollkorn SC', serif;
  text-shadow: 2px 2px 1px #3d3a3a;

  a {
    text-decoration: none;
    color: rgba(0,0,0,0.8);
    &:visited {
          color: rgba(0,0,0,0.8);
          text-decoration: none;
        }
  }
}
@media only screen
  and (min-device-width: 420px) {
    .icon-item {
      padding: 0 25px;
    }
}
.label{
  &:hover{
    color: rgba(0,0,0,0.5);
  }
  cursor: pointer;
}
